body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f5f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header-container {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #11998e, #38ef7d);
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.task-status-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
    padding-top: 30px;
}

.task-status-box {
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    width: 150px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
}

.task-list {
    padding-top: 20px; 
    min-height: 100px;
}

.task-box {
    padding: 10px;
    border-radius: 10px; 
    font-size: 14px;
    text-align: left; 
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; 
    cursor: grab; 
    position: relative;
}

.task-box .delete-task {
    position: absolute; 
    top: 5px; 
    right: 5px; 
    color: black; 
    cursor: pointer; 
    font-size: 20px; 
}

.add-task-button {
    text-align: center;
    padding: 20px;
    margin-top: 50px; 
}

#addTaskBtn {
    padding: 15px 30px; 
    font-size: 18px;
    color: #ffffff;
    background-color: #11998e;
    border: none;
    border-radius: 15px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addTaskBtn:hover {
    background-color: #38ef7d; 
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #f0f5f9;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888; 
    border-radius: 10px; 
    width: 60%; 
}

.close {
    color: #aaaaaa;
    float: right; 
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; 
}

.close:hover,
.close:focus {
    color: #000; 
    text-decoration: none;
}


.add-task-button {
    text-align: center;
    padding: 20px;
    margin-top: 60px; 
}

#addTaskBtn, 
.export-button {
    padding: 15px 30px;
    font-size: 18px;
    color: #ffffff;
    background-color: #11998e;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addTaskBtn:hover, 
.export-button:hover { 
    background-color: #38ef7d;
}
